@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="ContentHomePage">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>NEW | WATCHES | 2022</h1>
        <br />
        <br />
        <blockquote>The long awaited top of the line T I M E L E S S pieces have finally arrived!</blockquote>
    </div>
     </div>
 
@model IEnumerable<Exercise9.Models.WatchCatalog>

<div class="div1">
<h1>List of New Products</h1>

</div>
<div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchThickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caliber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jewel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chronograph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrapMaterial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDesc)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.FullDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchThickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caliber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jewel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chronograph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrapMaterial)
            </td>

        </tr>
}
    </tbody>
</table>
</div>